<table>
  <thead>
  <tr>
    <th></th>
    <th>Titre</th>
    <th>Auteur</th>
    <th>Prix</th>
    <th>Note</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let book of catalog$ |async">
    <td>
      <a [routerLink]="url.catalogBook(book)">
        <img [src]="book.image">
      </a>
    </td>
    <td>{{book.title}}</td>
    <td>{{book.author}}</td>
    <td class="right">{{book.price |currency:'EUR'}}</td>
    <td>
      <app-rating [(value)]="book.rating"></app-rating>
    </td>
    <td>
      <app-buy-button [book]="book"></app-buy-button>
    </td>
  </tr>
  </tbody>
</table>
